rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /friendRequests/{requestId} {
      allow read: if request.auth != null
                  && (resource.data.fromUserId == request.auth.uid
                      || resource.data.toUserId == request.auth.uid);
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId}/friends/{friendUserId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId}/listens/{listenId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId}/meta/{metaId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId}/tokens/{tokenId} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
